extends ../templates/base

block content
    div(class="page-inner")
        div(class="page-breadcrumbs")
            a(href="home.html", class="link link-black-bottom page-breadcrumbs-item")
                | Главная
            span(class="page-breadcrumbs-item-badge")<
            a(href="/news.html", class="link link-black-bottom page-breadcrumbs-item")
                | Список новостей
            span(class="page-breadcrumbs-item-badge")<
            a(href="/article.html", class="link link-black-inverse page-breadcrumbs-item")
                | Название мероприятия
 
        h1(class="page-heading")
            | Мероприятие
        div(class="page-text")
            div(class="news-detail-heading-info")
                div(class="news-detail-date") 
                    span(class="icon-calendar-ico-inner")
                    span(class="news-detail-date-text") 20.07.2017
                    span(class="icon-clock-inner")
                    span(class="news-detail-time-text") 14:30
                div(class="news-detail-street") 
                    span(class="icon-cartografia-ico-inner")
                    span(class="news-detail-street-text") Ул. Улица Главный холл ДГТУ
                div(class="news-detail-tag")
                    a(href="#", class="tag") #олимпиада
                    a(href="#", class="tag") #олимпиада
                p Давно известно, что периодические дискретные системы, содержащие дефекты, допускают наличие как бегущих волн, так и колебательных мод, локализованных на дефектах. Оказалось, что если периодическая дискретная система нелинейна, то она может допускать точные решения в виде пространственно локализованных колебательных мод даже в отсутствие дефектов. Поскольку все узлы такой системы равноправны, лишь выбором специальных начальных условий можно выделить ту группу узлов, на которой будет возбуждена такая мода, называемая дискретным бризером (ДБ). Частота ДБ должна лежать вне спектра бегущих волн. Не резонируя с бегущими волнами, не расходуя энергию на их возбуждение, ДБ теоретически может сохранять свою колебательную энергию вечно при отсутствии тепловых колебаний и других возмущений. Кристаллы представляют собой нелинейные дискретные системы, и открытие в них ДБ было лишь вопросом времени.
            div(class="social-block")
                a(href="https://vk.com/", target="_blank", class="social-block-item")
                    span(class="icon-vk-black-before icon-vk-red-after")
                a(href="https://vk.com/", target="_blank", class="social-block-item")
                    span(class="icon-twitter-black-before icon-twitter-red-after")
                a(href="https://vk.com/", target="_blank", class="social-block-item")
                    span(class="icon-facebook-black-before icon-facebook-red-after")
                a(href="https://vk.com/", target="_blank", class="social-block-item")
                    span(class="icon-ok-black-before icon-ok-red-after")
                a(href="https://vk.com/", target="_blank", class="social-block-item")
                    span(class="icon-instagram-black-before icon-instagram-red-after")
                a(href="https://vk.com/", target="_blank", class="social-block-item")
                    span(class="icon-youtube-black-before icon-you-tube-red-after")
            h2 Нелинейные колебания
            p НЕЛИНЕЙНЫЕ КОЛЕБАНИЯ И ВОЛНЫ - процессы в колебат. и волновых системах, не удовлетворяющие суперпозиции принципу. Нелинейные колебания или волны в общем случае взаимодействуют между собой, а их характеристики (частота, форма колебаний, скорость распространения, вид профиля волн и др.) зависят от амплитуды. Н. к. и в. в системах разл. физ. природы имеют общие черты, проявляющиеся в единстве их матем. описания. Изучению Н. к. и в. посвящена теория нелинейных систем - нелинейная динамика.
            p Экситон Ванье — Мотта — экситон, радиус которого значительно превышает характерный период решётки кристалла (в отличие от экситонов Френкеля).Экситоны Ванье — Мотта существуют в полупроводниках за счёт высокой диэлектрической проницаемости последних. Высокая диэлектрическая проницаемость приводит к ослаблению электростатического притяжения между электроном и дыркой, что и приводит к большому радиусу экситона. Само понятие экситон было предложено Френкелем в 1931 году. Френкель высказал и обосновал идею существования таких квазичастиц. Представление об экситоне большого радиуса, как об одном из предельных случаев экситона вообще, базируется на теоретической работе Ванье, но окончательно сформулировано в работах Мотта. Поэтому такая квазичастица получила название экситона Ванье — Мотта.
            div(class="info")
                | За недостойное поведение и нарушение правил внутреннего распорядка университета, пропускного режима, правил пожарной безопасности и дисциплины слушатель отчисляется без возвраты оплаты за обучение
            h3 Тепловая смерть Вселенной
            ul(class="style-disc")
                li Каждый слушатель должен ознакомиться с Правилами внутреннего распорядка университета и выполнять их.
                li В ДГТУ действует пропускной режим: слушатель подготовительных курсов при входе в университет обязан предъявить пропуск.
                li Курение в университете запрещено.
                li В университете действует положение о Корпоративной этике (нельзя использовать ненормативную лексику, шуметь в аудиториях и коридорах.)
                li Все слушатели обязаны бережно относиться к оборудованию в аудиториях университета, соблюдать чистоту.
            p Метод Хартри — Фока — в квантовой механике приближённый метод решения уравнения Шрёдингера путём сведения многочастичной задачи к одночастичной в предположении, что каждая частица двигается в некотором усреднённом самосогласованном поле, создаваемом всеми остальными частицами системы. Известно, что решение уравнения Шрёдингера позволяет получить целый ряд сведений о свойствах системы, в том числе и об её энергетическом спектре.
            div(class="documents")
                a(href="#", target="_blank", class="link link-bold")
                    span(class="icon-download-file-inner icon-not-transition") 
                    span(class="documents-name link link-black link-black-inverse") Теоритическая механика.pdf
                a(href="#", target="_blank", class="link link-bold")
                    span(class="icon-download-file-inner icon-not-transition") 
                    span(class="documents-name link link-black link-black-inverse") Физика высоких энергий.pdf
            p Ме́тоды Ру́нге — Ку́тты (в устаревшей литературе встречались неправильные названия: ме́тоды Ру́нге — Ку́тта или же ме́тоды Ру́нге — Кутта́) — большой класс численных методов решения задачи Коши для обыкновенных дифференциальных уравнений и их систем. Первые методы данного класса были предложены около 1900 года немецкими математиками К. Рунге и М. В. Куттой.Ме́тоды Ру́нге — Ку́тты (в устаревшей литературе встречались неправильные названия: ме́тоды Ру́нге — Ку́тта или же ме́тоды Ру́нге — Кутта́) — большой класс численных методов решения задачи Коши для обыкновенных дифференциальных уравнений и их систем. Первые методы данного класса были предложены около 1900 года немецкими математиками К. Рунге и М. В. Куттой.
            div(class="slider-bottom popup-gallery")
                a(href="../dummy/big-students.jpg")
                    img(src="../dummy/big-students.jpg", height="200px")
                a(href="../dummy/big-students.jpg")
                    img(src="../dummy/big-students.jpg", height="200px")
                a(href="../dummy/big-students.jpg")
                    img(src="../dummy/big-students.jpg", height="200px")
                a(href="../dummy/big-students.jpg")
                    img(src="../dummy/big-students.jpg", height="200px")
                a(href="../dummy/big-students.jpg")
                    img(src="../dummy/big-students.jpg", height="200px")
    div(class="sort-events-holder")
        div(class="page-inner")
            div(class="entry")
                div(class="page-text")
                    h2 Запись на участие
                    form(class="form")
                        div(class="form-row")
                            div(class="form-item-holder form-item-holder--w4")
                                select(class="form-item form-item--select")
                                    option Участие
                                    option Принятие
                                    option Отторжение
                            div(class="form-item-holder form-item-holder--w4")
                                div(class="form-item-holder-container")
                                    input(type="text", class="form-item form-item--text", name="lastname", placeholder="Фамилия", required, data-error="Введите фамилия")
                            div(class="form-item-holder form-item-holder--w4")
                                div(class="form-item-holder-container")
                                    input(type="text", class="form-item form-item--text", name="mobile", placeholder="Телефон", required, data-error="Введите телефон", data-pattern="mobileRu")
                            div(class="form-item-holder form-item-holder--w4")
                                div(class="form-item-holder-container")
                                    input(type="email", class="form-item form-item--text", name="email", placeholder="E-mail", required, data-error="Введите Email")
                        div(class="form-row")
                            label(class="filter-events")
                                input(type="checkbox", class="form-item--checkbox") 
                                span(class="form-item-label--text") Согласен на обработку персональных данных
                            button(type="submit", name="send-form" class="form-item form-item--submit")Отправить
