extends ../templates/base

block content
    div(class="page-inner")
        div(class="page-breadcrumbs")
            a(href="/home.html", class="link link-black-bottom page-breadcrumbs-item")
                | Главная
            span(class="page-breadcrumbs-item-badge")<
            a(href="/news.html", class="link link-black-bottom page-breadcrumbs-item")
                | Список новостей
        h1(class="page-heading")
            | Список новостей
    div(class="tags")
        div(class="tags-inner")
            a(href="#", class="tag-item active") #объявление
            a(href="#", class="tag-item") #олимпиада
            a(href="#", class="tag-item") #конкурсы
            a(href="#", class="tag-item") #родителям
            a(href="#", class="tag-item") #какой-то тег
            a(href="#", class="tag-item") #конкурсы
            a(href="#", class="tag-item") #родители
            a(href="#", class="tag-item") #тег

    div(class="page-inner")
        div(class="news")
            div(class="news-list")
                div(class="news-item")
                    div(class="news-item-heading-block")
                        a(href="#", class="news-item-heading")
                            div(class="news-item-photo-holder")
                                img(src="../dummy/glob-news.jpg", class="news-item-photo")
                        div(class="news-item-heading-info")
                            div(class="news-item-title")
                                a(href="#", class="link link-black-bottom news-item-heading-title") ЗАГОЛОВОК ОБЫЧНО ДЛИННЫЙ
                            div(class="news-item-heading-date")
                                span 30.06.2017
                                span 14:00
                            a(href="#", class="tag") #объявление
                            div(class="news-item-heading-icons")
                                div(class="news-item-heading-icon icon-picture-inner")
                                div(class="news-item-heading-icon icon-video-inner")
                    div(class="news-item-text") Световой квант, взаимодействуя с атомом, отдает ему энергию и переводит на более высокий энергетический уровень, то есть в возбужденное состояние. Фотон при этом исчезает - среда поглощает свет. После того как все атомы среды возбуждаются, поглощение световой энергии прекращается - среда становится прозрачной. Но такое состояние не может длиться долго: фотоны, летящие следом, заставляют атомы возвращаться в исходное состояние, испуская кванты той же частоты. Именно это и происходит, когда через такую среду направляется короткий световой импульс большой мощности соответствующей частоты. Передний фронт импульса перебрасывает атомы на верхний уровень, частично при этом поглощаясь и становясь слабее. Максимум импульса поглощается уже меньше, а задний фронт импульса стимулирует обратный переход с возбужденного уровня на основной. Атом излучает фотон, его энергия возвращается импульсу, который и проходит через среду. При этом форма импульса оказывается соответствующей групповому солитону.
                    span(class="item--more")
                div(class="news-item")
                    div(class="news-item-heading-block")
                        a(href="#", class="news-item-heading")
                            div(class="news-item-photo-holder")
                                img(src="../dummy/university-students-news.jpg", class="news-item-photo")
                        div(class="news-item-heading-info")
                            div(class="news-item-title")
                                a(href="#", class="link link-black-bottom news-item-heading-title") ЗАГОЛОВОК ОБЫЧНО ДЛИННЫЙ
                            div(class="news-item-heading-date")
                                span 30.06.2017
                                span 14:00
                            a(href="#", class="tag") #объявление
                            div(class="news-item-heading-icons")
                                div(class="news-item-heading-icon icon-picture-inner")
                                div(class="news-item-heading-icon icon-video-inner")
                    div(class="news-item-text") Световой квант, взаимодействуя с атомом, отдает ему энергию и переводит на более высокий энергетический уровень, то есть в возбужденное состояние. Фотон при этом исчезает - среда поглощает свет. После того как все атомы среды возбуждаются, поглощение световой энергии прекращается - среда становится прозрачной. Но такое состояние не может длиться долго: фотоны, летящие следом, заставляют атомы возвращаться в исходное состояние, испуская кванты той же частоты. Именно это и происходит, когда через такую среду направляется короткий световой импульс большой мощности соответствующей частоты. Передний фронт импульса перебрасывает атомы на верхний уровень, частично при этом поглощаясь и становясь слабее. Максимум импульса поглощается уже меньше, а задний фронт импульса стимулирует обратный переход с возбужденного уровня на основной. Атом излучает фотон, его энергия возвращается импульсу, который и проходит через среду. При этом форма импульса оказывается соответствующей групповому солитону.
                    span(class="item--more")
                div(class="news-item")
                    div(class="news-item-heading-block")
                        a(href="#", class="news-item-heading")
                            div(class="news-item-photo-holder")
                                img(src="../dummy/child-news.jpg", class="news-item-photo")
                        div(class="news-item-heading-info")
                            div(class="news-item-title")
                                a(href="#", class="link link-black-bottom news-item-heading-title") ЗАГОЛОВОК ОБЫЧНО ДЛИННЫЙ
                            div(class="news-item-heading-date")
                                span 30.06.2017
                                span 14:00
                            a(href="#", class="tag") #объявление
                            div(class="news-item-heading-icons")
                                div(class="news-item-heading-icon icon-video-inner")
                    div(class="news-item-text") Световой квант, взаимодействуя с атомом, отдает ему энергию и переводит на более высокий энергетический уровень, то есть в возбужденное состояние. Фотон при этом исчезает - среда поглощает свет. После того как все атомы среды возбуждаются, поглощение световой энергии прекращается - среда становится прозрачной. Но такое состояние не может длиться долго: фотоны, летящие следом, заставляют атомы возвращаться в исходное состояние, испуская кванты той же частоты. Именно это и происходит, когда через такую среду направляется короткий световой импульс большой мощности соответствующей частоты. Передний фронт импульса перебрасывает атомы на верхний уровень, частично при этом поглощаясь и становясь слабее. Максимум импульса поглощается уже меньше, а задний фронт импульса стимулирует обратный переход с возбужденного уровня на основной. Атом излучает фотон, его энергия возвращается импульсу, который и проходит через среду. При этом форма импульса оказывается соответствующей групповому солитону.
                    span(class="item--more")
                div(class="news-item")
                    div(class="news-item-heading-block")
                        a(href="#", class="news-item-heading")
                            div(class="news-item-photo-holder")
                                img(src="../dummy/lecture-news.jpg", class="news-item-photo")
                        div(class="news-item-heading-info")
                            div(class="news-item-title")
                                a(href="#", class="link link-black-bottom news-item-heading-title") ЗАГОЛОВОК ОБЫЧНО ДЛИННЫЙ
                            div(class="news-item-heading-date")
                                span 30.06.2017
                                span 14:00
                            a(href="#", class="tag") #объявление
                            div(class="news-item-heading-icons")
                                div(class="news-item-heading-icon icon-picture-inner")
                                div(class="news-item-heading-icon icon-video-inner")
                    div(class="news-item-text") Световой квант, взаимодействуя с атомом, отдает ему энергию и переводит на более высокий энергетический уровень, то есть в возбужденное состояние. Фотон при этом исчезает - среда поглощает свет. После того как все атомы среды возбуждаются, поглощение световой энергии прекращается - среда становится прозрачной. Но такое состояние не может длиться долго: фотоны, летящие следом, заставляют атомы возвращаться в исходное состояние, испуская кванты той же частоты. Именно это и происходит, когда через такую среду направляется короткий световой импульс большой мощности соответствующей частоты. Передний фронт импульса перебрасывает атомы на верхний уровень, частично при этом поглощаясь и становясь слабее. Максимум импульса поглощается уже меньше, а задний фронт импульса стимулирует обратный переход с возбужденного уровня на основной. Атом излучает фотон, его энергия возвращается импульсу, который и проходит через среду. При этом форма импульса оказывается соответствующей групповому солитону.
                    span(class="item--more")
                div(class="news-item")
                    div(class="news-item-heading-block")
                        a(href="#", class="news-item-heading")
                            div(class="news-item-photo-holder")
                                img(src="../dummy/child-news.jpg", class="news-item-photo")
                        div(class="news-item-heading-info")
                            div(class="news-item-title")
                                a(href="#", class="link link-black-bottom news-item-heading-title") ЗАГОЛОВОК ОБЫЧНО ДЛИННЫЙ
                            div(class="news-item-heading-date")
                                span 30.06.2017
                                span 14:00
                            a(href="#", class="tag") #объявление
                            div(class="news-item-heading-icons")
                                div(class="news-item-heading-icon icon-video-inner")
                    div(class="news-item-text") Световой квант, взаимодействуя с атомом, отсдает ему энергию и переводит на более высокий энергетический уровень, то есть в возбужденное состояние. Фотон при этом исчезает - среда поглощает свет. После того как все атомы среды возбуждаются, поглощение световой энергии прекращается - среда становится прозрачной. Но такое состояние не может длиться долго: фотоны, летящие следом, заставляют атомы возвращаться в исходное состояние, испуская кванты той же частоты. Именно это и происходит, когда через такую среду направляется короткий световой импульс большой мощности соответствующей частоты. Передний фронт импульса перебрасывает атомы на верхний уровень, частично при этом поглощаясь и становясь слабее. Максимум импульса поглощается уже меньше, а задний фронт импульса стимулирует обратный переход с возбужденного уровня на основной. Атом излучает фотон, его энергия возвращается импульсу, который и проходит через среду. При этом форма импульса оказывается соответствующей групповому солитону.
                    span(class="item--more")
                div(class="news-item")
                    div(class="news-item-heading-block")
                        a(href="#", class="news-item-heading")
                            div(class="news-item-photo-holder")
                                img(src="../dummy/lecture-news.jpg", class="news-item-photo")
                        div(class="news-item-heading-info")
                            div(class="news-item-title")
                                a(href="#", class="link link-black-bottom news-item-heading-title") ЗАГОЛОВОК ОБЫЧНО ДЛИННЫЙ
                            div(class="news-item-heading-date")
                                span 30.06.2017
                                span 14:00
                            a(href="#", class="tag") #объявление
                            div(class="news-item-heading-icons")
                                div(class="news-item-heading-icon icon-picture-inner")
                                div(class="news-item-heading-icon icon-video-inner")
                    div(class="news-item-text") Световой квант, взаимодействуя с атомом, отдает ему энергию и переводит на более высокий энергетический уровень, то есть в возбужденное состояние. Фотон при этом исчезает - среда поглощает свет. После того как все атомы среды возбуждаются, поглощение световой энергии прекращается - среда становится прозрачной. Но такое состояние не может длиться долго: фотоны, летящие следом, заставляют атомы возвращаться в исходное состояние, испуская кванты той же частоты. Именно это и происходит, когда через такую среду направляется короткий световой импульс большой мощности соответствующей частоты. Передний фронт импульса перебрасывает атомы на верхний уровень, частично при этом поглощаясь и становясь слабее. Максимум импульса поглощается уже меньше, а задний фронт импульса стимулирует обратный переход с возбужденного уровня на основной. Атом излучает фотон, его энергия возвращается импульсу, который и проходит через среду. При этом форма импульса оказывается соответствующей групповому солитону.
                    span(class="item--more")

            div(class="pager")
                span(class="pager-item active") 1
                a(href="#", class="pager-item") 2
                a(href="#", class="pager-item") 3
                a(href="#", class="pager-item") 4
                a(href="#", class="pager-item") 5
                a(href="#", class="pager-item") 6
