extends ../templates/base

block content
    div(class="page-inner")
        div(class="page404")
            div(class="page-text404")
                h1 404
                h2 мы устали делать эту страницу
