extends ../templates/base

block content
    div(class="page-inner")
        div(class="page-breadcrumbs")
            a(href="home.html", class="link link-black-bottom page-breadcrumbs-item")
                | Главная
            span(class="page-breadcrumbs-item-badge")<
            a(href="/news.html", class="link link-black-bottom page-breadcrumbs-item")
                | Направление
            span(class="page-breadcrumbs-item-badge")<
            a(href="/news.html", class="link link-black-inverse page-breadcrumbs-item")
                | Строительство
        h1(class="page-heading")
            | Строительство
        div(class="page-text")
            p Потенциал Леннард-Джонса — простая модель парного взаимодействия неполярных молекул, описывающая зависимость энергии взаимодействия двух частиц от расстояния между ними.Потенциал Леннард-Джонса — простая модель парного взаимодействия неполярных молекул, описывающая зависимость энергии взаимодействия двух частиц от расстояния между ними.Потенциал Леннард-Джонса — простая модель парного взаимодействия неполярных молекул, описывающая зависимость энергии взаимодействия двух частиц от расстояния между ними.Потенциал Леннард-Джонса — простая модель парного взаимодействия неполярных молекул, описывающая зависимость энергии взаимодействия двух частиц от расстояния между ними.Потенциал Леннард-Джонса — простая модель парного взаимодействия неполярных молекул, описывающая зависимость энергии взаимодействия двух частиц от расстояния между ними.
        div(class="page-inner")
            div(class="tabs")
                div(class="tabs-vertical")
                    div(class="tabs-vertical-heading")
                        a(href="#section-1", class="link link-black tabs-heading-item tabs-vertical-heading-item active-tabs") 
                            span Городское строительство и хозяйство
                        a(href="#section-2", class="link link-black tabs-heading-item tabs-vertical-heading-item") 
                            span Водоснабжение и водоотведение
                        a(href="#section-3", class="link link-black tabs-heading-item tabs-vertical-heading-item") 
                            span теплогазоснабдение и вентиляция
                        a(href="#section-4", class="link link-black tabs-heading-item tabs-vertical-heading-item") 
                            span проектирование заданий
                        a(href="#section-5", class="link link-black tabs-heading-item tabs-vertical-heading-item") 
                            span Производство строительных материалов изделий конструкторов
                        a(href="#section-6", class="link link-black tabs-heading-item tabs-vertical-heading-item") 
                            span механическое оборудование и теънологические комплексы предприятий строительных материалов, изделей, конструкций
                        a(href="#section-7", class="link link-black tabs-heading-item tabs-vertical-heading-item") 
                            span экспертиза и управление недвижимостью
                        a(href="#section-8", class="link link-black tabs-heading-item tabs-vertical-heading-item") 
                            span Промышленное и гражданское строительство
                    div(class="tabs-vertical-content")
                        div(class="tabs-content")
                            div(class="tabs-content-item tabs-vertical-content-item active-tabs", id="section-1")
                                div(class="page-text")
                                    h2 Академия абитуриентов
                                    p Соотноше́ния Кра́мерса — Кро́нига — интегральная связь между действительной и мнимой частями любой комплексной функции, аналитичной в верхней полуплоскости. Часто используются в физике для описания связи действительной и мнимой частей функции отклика физической системы, поскольку аналитичность функции отклика подразумевает, что система удовлетворяет принципу причинности, и наоборот [1]. В частности, соотношения Крамерса — Кронига выражают связь между действительной и мнимой частями диэлектрической проницаемости в классической электродинамике и амплитуды вероятности перехода (матричного элемента) между двумя состояниями в квантовой теории поля.
                                    ol
                                        li Каждый слушатель должен ознакомиться с правиллами внутреннего распорядка университета и выполнять их.
                                        li В ДГТУ действует пропускной режим слушатель подготовительных курсов при входе в университет обязан предъявить пропуск.
                                        li Курение в университете запрещено
                                        li В университете действет положение о Корпоративной этике(нельязя использовать ненормативную лексику, шуметь в аудиториях и коридорах)
                                        li Все слушатели обязаны относиться к оборудованию  в аудиториях университета, соблюдать частоту
                                    div(class="info") За недостойное поведение и нарушение Правил внутреннего распорядка университета, пропускного режима, правил пожарной безопасности и учебной дисциплины слушатель отчисляется без возврата оплаты за обучение.
                                    p
                                        img(src="../dummy/big-students.jpg", alt="Студенты пишут")
                                    p Соотноше́ния Кра́мерса — Кро́нига — интегральная связь между действительной и мнимой частями любой комплексной функции, аналитичной в верхней полуплоскости. Часто используются в физике для описания связи действительной и мнимой частей функции отклика физической системы, поскольку аналитичность функции отклика подразумевает, что система удовлетворяет принципу причинности, и наоборот [1]. В частности, соотношения Крамерса — Кронига выражают связь между действительной и мнимой частями диэлектрической проницаемости в классической электродинамике и амплитуды вероятности перехода (матричного элемента) между двумя состояниями в квантовой теории поля.
                                    div(class="sphere")
                                        div(class="sphere-img", style="background-image: url(../dummy/workers.png)")
                                        div(class="sphere-text") 
                                            span Сферы профессиональной деятельности выпускников:
                                    ol
                                        li Каждый слушатель должен ознакомиться с правиллами внутреннего распорядка университета и выполнять их.
                                        li В ДГТУ действует пропускной режим слушатель подготовительных курсов при входе в университет обязан предъявить пропуск.
                                        li Курение в университете запрещено
                                        li В университете действет положение о Корпоративной этике(нельязя использовать ненормативную лексику, шуметь в аудиториях и коридорах)
                                        li Все слушатели обязаны относиться к оборудованию  в аудиториях университета, соблюдать частоту
                            div(class="tabs-content-item tabs-vertical-content-item", id="section-2")
                                div(class="page-text")
                                    h2 Тестовая страница
                                    p Соотноше́ния Кра́мерса — Кро́нига — интегральная связь между действительной и мнимой частями любой комплексной функции, аналитичной в верхней полуплоскости. Часто используются в физике для описания связи действительной и мнимой частей функции отклика физической системы, поскольку аналитичность функции отклика подразумевает, что система удовлетворяет принципу причинности, и наоборот [1]. В частности, соотношения Крамерса — Кронига выражают связь между действительной и мнимой частями диэлектрической проницаемости в классической электродинамике и амплитуды вероятности перехода (матричного элемента) между двумя состояниями в квантовой теории поля.
