.icon-arrow-left-red-before:before
.icon-arrow-left-red-after:after
	content ''

.icon-arrow-left-red-before:before
.icon-arrow-left-red-after:after
.icon-arrow-left-red-inner
	vertical-align middle

	display inline-block
	width 44px
	height 44px

	background url(../i/sprite.png) no-repeat -564px -438px

.transition-icon-item.icon-arrow-left-red-inner
	margin-left -(44px / 2)
	margin-top -(44px / 2)
.icon-arrow-left-white-before:before
.icon-arrow-left-white-after:after
	content ''

.icon-arrow-left-white-before:before
.icon-arrow-left-white-after:after
.icon-arrow-left-white-inner
	vertical-align middle

	display inline-block
	width 44px
	height 44px

	background url(../i/sprite.png) no-repeat -60px -533px

.transition-icon-item.icon-arrow-left-white-inner
	margin-left -(44px / 2)
	margin-top -(44px / 2)
.icon-arrow-right-red-before:before
.icon-arrow-right-red-after:after
	content ''

.icon-arrow-right-red-before:before
.icon-arrow-right-red-after:after
.icon-arrow-right-red-inner
	vertical-align middle

	display inline-block
	width 44px
	height 44px

	background url(../i/sprite.png) no-repeat -124px -533px

.transition-icon-item.icon-arrow-right-red-inner
	margin-left -(44px / 2)
	margin-top -(44px / 2)
.icon-arrow-right-white-before:before
.icon-arrow-right-white-after:after
	content ''

.icon-arrow-right-white-before:before
.icon-arrow-right-white-after:after
.icon-arrow-right-white-inner
	vertical-align middle

	display inline-block
	width 44px
	height 44px

	background url(../i/sprite.png) no-repeat -607px -347px

.transition-icon-item.icon-arrow-right-white-inner
	margin-left -(44px / 2)
	margin-top -(44px / 2)
.icon-ask-question-before:before
.icon-ask-question-after:after
	content ''

.icon-ask-question-before:before
.icon-ask-question-after:after
.icon-ask-question-inner
	vertical-align middle

	display inline-block
	width 13px
	height 17px

	background url(../i/sprite.png) no-repeat -679px -515px

.transition-icon-item.icon-ask-question-inner
	margin-left -(13px / 2)
	margin-top -(17px / 2)
.icon-calendar-ico-red-before:before
.icon-calendar-ico-red-after:after
	content ''

.icon-calendar-ico-red-before:before
.icon-calendar-ico-red-after:after
.icon-calendar-ico-red-inner
	vertical-align middle

	display inline-block
	width 24px
	height 24px

	background url(../i/sprite.png) no-repeat 0px -614px

.transition-icon-item.icon-calendar-ico-red-inner
	margin-left -(24px / 2)
	margin-top -(24px / 2)
.icon-calendar-ico-before:before
.icon-calendar-ico-after:after
	content ''

.icon-calendar-ico-before:before
.icon-calendar-ico-after:after
.icon-calendar-ico-inner
	vertical-align middle

	display inline-block
	width 19px
	height 19px

	background url(../i/sprite.png) no-repeat -679px -128px

.transition-icon-item.icon-calendar-ico-inner
	margin-left -(19px / 2)
	margin-top -(19px / 2)
.icon-cartografia-ico-before:before
.icon-cartografia-ico-after:after
	content ''

.icon-cartografia-ico-before:before
.icon-cartografia-ico-after:after
.icon-cartografia-ico-inner
	vertical-align middle

	display inline-block
	width 19px
	height 18px

	background url(../i/sprite.png) no-repeat -679px -167px

.transition-icon-item.icon-cartografia-ico-inner
	margin-left -(19px / 2)
	margin-top -(18px / 2)
.icon-clock-before:before
.icon-clock-after:after
	content ''

.icon-clock-before:before
.icon-clock-after:after
.icon-clock-inner
	vertical-align middle

	display inline-block
	width 19px
	height 20px

	background url(../i/sprite.png) no-repeat -679px -88px

.transition-icon-item.icon-clock-inner
	margin-left -(19px / 2)
	margin-top -(20px / 2)
.icon-download-file-before:before
.icon-download-file-after:after
	content ''

.icon-download-file-before:before
.icon-download-file-after:after
.icon-download-file-inner
	vertical-align middle

	display inline-block
	width 21px
	height 25px

	background url(../i/sprite.png) no-repeat -679px 0px

.transition-icon-item.icon-download-file-inner
	margin-left -(21px / 2)
	margin-top -(25px / 2)
.icon-ellipsiss-orange-map-before:before
.icon-ellipsiss-orange-map-after:after
	content ''

.icon-ellipsiss-orange-map-before:before
.icon-ellipsiss-orange-map-after:after
.icon-ellipsiss-orange-map-inner
	vertical-align middle

	display inline-block
	width 42px
	height 22px

	background url(../i/sprite.png) no-repeat -188px -533px

.transition-icon-item.icon-ellipsiss-orange-map-inner
	margin-left -(42px / 2)
	margin-top -(22px / 2)
.icon-ellipsiss-whitemap-before:before
.icon-ellipsiss-whitemap-after:after
	content ''

.icon-ellipsiss-whitemap-before:before
.icon-ellipsiss-whitemap-after:after
.icon-ellipsiss-whitemap-inner
	vertical-align middle

	display inline-block
	width 42px
	height 22px

	background url(../i/sprite.png) no-repeat -250px -533px

.transition-icon-item.icon-ellipsiss-whitemap-inner
	margin-left -(42px / 2)
	margin-top -(22px / 2)
.icon-facebook-black-before:before
.icon-facebook-black-after:after
	content ''

.icon-facebook-black-before:before
.icon-facebook-black-after:after
.icon-facebook-black-inner
	vertical-align middle

	display inline-block
	width 10px
	height 18px

	background url(../i/sprite.png) no-repeat -60px -658px

.transition-icon-item.icon-facebook-black-inner
	margin-left -(10px / 2)
	margin-top -(18px / 2)
.icon-facebook-circle-before:before
.icon-facebook-circle-after:after
	content ''

.icon-facebook-circle-before:before
.icon-facebook-circle-after:after
.icon-facebook-circle-inner
	vertical-align middle

	display inline-block
	width 55px
	height 55px

	background url(../i/sprite.png) no-repeat -190px -438px

.transition-icon-item.icon-facebook-circle-inner
	margin-left -(55px / 2)
	margin-top -(55px / 2)
.icon-facebook-red-before:before
.icon-facebook-red-after:after
	content ''

.icon-facebook-red-before:before
.icon-facebook-red-after:after
.icon-facebook-red-inner
	vertical-align middle

	display inline-block
	width 10px
	height 18px

	background url(../i/sprite.png) no-repeat -30px -658px

.transition-icon-item.icon-facebook-red-inner
	margin-left -(10px / 2)
	margin-top -(18px / 2)
.icon-facebook-white-before:before
.icon-facebook-white-after:after
	content ''

.icon-facebook-white-before:before
.icon-facebook-white-after:after
.icon-facebook-white-inner
	vertical-align middle

	display inline-block
	width 10px
	height 18px

	background url(../i/sprite.png) no-repeat 0px -658px

.transition-icon-item.icon-facebook-white-inner
	margin-left -(10px / 2)
	margin-top -(18px / 2)
.icon-faq-before:before
.icon-faq-after:after
	content ''

.icon-faq-before:before
.icon-faq-after:after
.icon-faq-inner
	vertical-align middle

	display inline-block
	width 16px
	height 16px

	background url(../i/sprite.png) no-repeat -679px -375px

.transition-icon-item.icon-faq-inner
	margin-left -(16px / 2)
	margin-top -(16px / 2)
.icon-icon-picture-before:before
.icon-icon-picture-after:after
	content ''

.icon-icon-picture-before:before
.icon-icon-picture-after:after
.icon-icon-picture-inner
	vertical-align middle

	display inline-block
	width 32px
	height 31px

	background url(../i/sprite.png) no-repeat -627px -216px

.transition-icon-item.icon-icon-picture-inner
	margin-left -(32px / 2)
	margin-top -(31px / 2)
.icon-instagram-black-before:before
.icon-instagram-black-after:after
	content ''

.icon-instagram-black-before:before
.icon-instagram-black-after:after
.icon-instagram-black-inner
	vertical-align middle

	display inline-block
	width 15px
	height 15px

	background url(../i/sprite.png) no-repeat -679px -480px

.transition-icon-item.icon-instagram-black-inner
	margin-left -(15px / 2)
	margin-top -(15px / 2)
.icon-instagram-circle-before:before
.icon-instagram-circle-after:after
	content ''

.icon-instagram-circle-before:before
.icon-instagram-circle-after:after
.icon-instagram-circle-inner
	vertical-align middle

	display inline-block
	width 55px
	height 55px

	background url(../i/sprite.png) no-repeat -340px -438px

.transition-icon-item.icon-instagram-circle-inner
	margin-left -(55px / 2)
	margin-top -(55px / 2)
.icon-instagram-red-before:before
.icon-instagram-red-after:after
	content ''

.icon-instagram-red-before:before
.icon-instagram-red-after:after
.icon-instagram-red-inner
	vertical-align middle

	display inline-block
	width 15px
	height 15px

	background url(../i/sprite.png) no-repeat -679px -445px

.transition-icon-item.icon-instagram-red-inner
	margin-left -(15px / 2)
	margin-top -(15px / 2)
.icon-instagram-white-before:before
.icon-instagram-white-after:after
	content ''

.icon-instagram-white-before:before
.icon-instagram-white-after:after
.icon-instagram-white-inner
	vertical-align middle

	display inline-block
	width 14px
	height 14px

	background url(../i/sprite.png) no-repeat -119px -614px

.transition-icon-item.icon-instagram-white-inner
	margin-left -(14px / 2)
	margin-top -(14px / 2)
.icon-logo-DGTU-before:before
.icon-logo-DGTU-after:after
	content ''

.icon-logo-DGTU-before:before
.icon-logo-DGTU-after:after
.icon-logo-DGTU-inner
	vertical-align middle

	display inline-block
	width 75px
	height 75px

	background url(../i/sprite.png) no-repeat 0px -438px

.transition-icon-item.icon-logo-DGTU-inner
	margin-left -(75px / 2)
	margin-top -(75px / 2)
.icon-logo-before:before
.icon-logo-after:after
	content ''

.icon-logo-before:before
.icon-logo-after:after
.icon-logo-inner
	vertical-align middle

	display inline-block
	width 75px
	height 75px

	background url(../i/sprite.png) no-repeat -95px -438px

.transition-icon-item.icon-logo-inner
	margin-left -(75px / 2)
	margin-top -(75px / 2)
.icon-mini-image-before:before
.icon-mini-image-after:after
	content ''

.icon-mini-image-before:before
.icon-mini-image-after:after
.icon-mini-image-inner
	vertical-align middle

	display inline-block
	width 512px
	height 418px

	background url(../i/sprite.png) no-repeat 0px 0px

.transition-icon-item.icon-mini-image-inner
	margin-left -(512px / 2)
	margin-top -(418px / 2)
.icon-ok-black-before:before
.icon-ok-black-after:after
	content ''

.icon-ok-black-before:before
.icon-ok-black-after:after
.icon-ok-black-inner
	vertical-align middle

	display inline-block
	width 12px
	height 18px

	background url(../i/sprite.png) no-repeat -679px -589px

.transition-icon-item.icon-ok-black-inner
	margin-left -(12px / 2)
	margin-top -(18px / 2)
.icon-ok-circle-before:before
.icon-ok-circle-after:after
	content ''

.icon-ok-circle-before:before
.icon-ok-circle-after:after
.icon-ok-circle-inner
	vertical-align middle

	display inline-block
	width 55px
	height 55px

	background url(../i/sprite.png) no-repeat -265px -438px

.transition-icon-item.icon-ok-circle-inner
	margin-left -(55px / 2)
	margin-top -(55px / 2)
.icon-ok-red-before:before
.icon-ok-red-after:after
	content ''

.icon-ok-red-before:before
.icon-ok-red-after:after
.icon-ok-red-inner
	vertical-align middle

	display inline-block
	width 12px
	height 18px

	background url(../i/sprite.png) no-repeat -87px -614px

.transition-icon-item.icon-ok-red-inner
	margin-left -(12px / 2)
	margin-top -(18px / 2)
.icon-ok-white-before:before
.icon-ok-white-after:after
	content ''

.icon-ok-white-before:before
.icon-ok-white-after:after
.icon-ok-white-inner
	vertical-align middle

	display inline-block
	width 9px
	height 16px

	background url(../i/sprite.png) no-repeat -90px -658px

.transition-icon-item.icon-ok-white-inner
	margin-left -(9px / 2)
	margin-top -(16px / 2)
.icon-picture-before:before
.icon-picture-after:after
	content ''

.icon-picture-before:before
.icon-picture-after:after
.icon-picture-inner
	vertical-align middle

	display inline-block
	width 29px
	height 29px

	background url(../i/sprite.png) no-repeat -628px -438px

.transition-icon-item.icon-picture-inner
	margin-left -(29px / 2)
	margin-top -(29px / 2)
.icon-point-orange-map-before:before
.icon-point-orange-map-after:after
	content ''

.icon-point-orange-map-before:before
.icon-point-orange-map-after:after
.icon-point-orange-map-inner
	vertical-align middle

	display inline-block
	width 40px
	height 61px

	background url(../i/sprite.png) no-repeat 0px -533px

.transition-icon-item.icon-point-orange-map-inner
	margin-left -(40px / 2)
	margin-top -(61px / 2)
.icon-point-white-map-before:before
.icon-point-white-map-after:after
	content ''

.icon-point-white-map-before:before
.icon-point-white-map-after:after
.icon-point-white-map-inner
	vertical-align middle

	display inline-block
	width 75px
	height 111px

	background url(../i/sprite.png) no-repeat -532px -216px

.transition-icon-item.icon-point-white-map-inner
	margin-left -(75px / 2)
	margin-top -(111px / 2)
.icon-price-before:before
.icon-price-after:after
	content ''

.icon-price-before:before
.icon-price-after:after
.icon-price-inner
	vertical-align middle

	display inline-block
	width 19px
	height 23px

	background url(../i/sprite.png) no-repeat -679px -45px

.transition-icon-item.icon-price-inner
	margin-left -(19px / 2)
	margin-top -(23px / 2)
.icon-search-loupe-before:before
.icon-search-loupe-after:after
	content ''

.icon-search-loupe-before:before
.icon-search-loupe-after:after
.icon-search-loupe-inner
	vertical-align middle

	display inline-block
	width 23px
	height 22px

	background url(../i/sprite.png) no-repeat -44px -614px

.transition-icon-item.icon-search-loupe-inner
	margin-left -(23px / 2)
	margin-top -(22px / 2)
.icon-search-map-before:before
.icon-search-map-after:after
	content ''

.icon-search-map-before:before
.icon-search-map-after:after
.icon-search-map-inner
	vertical-align middle

	display inline-block
	width 13px
	height 17px

	background url(../i/sprite.png) no-repeat -679px -552px

.transition-icon-item.icon-search-map-inner
	margin-left -(13px / 2)
	margin-top -(17px / 2)
.icon-thoughts-ellipsiss-red-before:before
.icon-thoughts-ellipsiss-red-after:after
	content ''

.icon-thoughts-ellipsiss-red-before:before
.icon-thoughts-ellipsiss-red-after:after
.icon-thoughts-ellipsiss-red-inner
	vertical-align middle

	display inline-block
	width 127px
	height 88px

	background url(../i/sprite.png) no-repeat -532px -108px

.transition-icon-item.icon-thoughts-ellipsiss-red-inner
	margin-left -(127px / 2)
	margin-top -(88px / 2)
.icon-thoughts-ellipsiss-white-before:before
.icon-thoughts-ellipsiss-white-after:after
	content ''

.icon-thoughts-ellipsiss-white-before:before
.icon-thoughts-ellipsiss-white-after:after
.icon-thoughts-ellipsiss-white-inner
	vertical-align middle

	display inline-block
	width 127px
	height 88px

	background url(../i/sprite.png) no-repeat -532px 0px

.transition-icon-item.icon-thoughts-ellipsiss-white-inner
	margin-left -(127px / 2)
	margin-top -(88px / 2)
.icon-twitter-black-before:before
.icon-twitter-black-after:after
	content ''

.icon-twitter-black-before:before
.icon-twitter-black-after:after
.icon-twitter-black-inner
	vertical-align middle

	display inline-block
	width 18px
	height 14px

	background url(../i/sprite.png) no-repeat -679px -411px

.transition-icon-item.icon-twitter-black-inner
	margin-left -(18px / 2)
	margin-top -(14px / 2)
.icon-twitter-circle-before:before
.icon-twitter-circle-after:after
	content ''

.icon-twitter-circle-before:before
.icon-twitter-circle-after:after
.icon-twitter-circle-inner
	vertical-align middle

	display inline-block
	width 54px
	height 54px

	background url(../i/sprite.png) no-repeat -415px -438px

.transition-icon-item.icon-twitter-circle-inner
	margin-left -(54px / 2)
	margin-top -(54px / 2)
.icon-twitter-red-before:before
.icon-twitter-red-after:after
	content ''

.icon-twitter-red-before:before
.icon-twitter-red-after:after
.icon-twitter-red-inner
	vertical-align middle

	display inline-block
	width 18px
	height 16px

	background url(../i/sprite.png) no-repeat -679px -205px

.transition-icon-item.icon-twitter-red-inner
	margin-left -(18px / 2)
	margin-top -(16px / 2)
.icon-twitter-white-before:before
.icon-twitter-white-after:after
	content ''

.icon-twitter-white-before:before
.icon-twitter-white-after:after
.icon-twitter-white-inner
	vertical-align middle

	display inline-block
	width 18px
	height 15px

	background url(../i/sprite.png) no-repeat -679px -241px

.transition-icon-item.icon-twitter-white-inner
	margin-left -(18px / 2)
	margin-top -(15px / 2)
.icon-video-before:before
.icon-video-after:after
	content ''

.icon-video-before:before
.icon-video-after:after
.icon-video-inner
	vertical-align middle

	display inline-block
	width 32px
	height 31px

	background url(../i/sprite.png) no-repeat -627px -267px

.transition-icon-item.icon-video-inner
	margin-left -(32px / 2)
	margin-top -(31px / 2)
.icon-vk-black-before:before
.icon-vk-black-after:after
	content ''

.icon-vk-black-before:before
.icon-vk-black-after:after
.icon-vk-black-inner
	vertical-align middle

	display inline-block
	width 20px
	height 13px

	background url(../i/sprite.png) no-repeat -679px -276px

.transition-icon-item.icon-vk-black-inner
	margin-left -(20px / 2)
	margin-top -(13px / 2)
.icon-vk-circle-before:before
.icon-vk-circle-after:after
	content ''

.icon-vk-circle-before:before
.icon-vk-circle-after:after
.icon-vk-circle-inner
	vertical-align middle

	display inline-block
	width 55px
	height 53px

	background url(../i/sprite.png) no-repeat -489px -438px

.transition-icon-item.icon-vk-circle-inner
	margin-left -(55px / 2)
	margin-top -(53px / 2)
.icon-vk-red-before:before
.icon-vk-red-after:after
	content ''

.icon-vk-red-before:before
.icon-vk-red-after:after
.icon-vk-red-inner
	vertical-align middle

	display inline-block
	width 20px
	height 13px

	background url(../i/sprite.png) no-repeat -679px -342px

.transition-icon-item.icon-vk-red-inner
	margin-left -(20px / 2)
	margin-top -(13px / 2)
.icon-vk-white-before:before
.icon-vk-white-after:after
	content ''

.icon-vk-white-before:before
.icon-vk-white-after:after
.icon-vk-white-inner
	vertical-align middle

	display inline-block
	width 20px
	height 13px

	background url(../i/sprite.png) no-repeat -679px -309px

.transition-icon-item.icon-vk-white-inner
	margin-left -(20px / 2)
	margin-top -(13px / 2)
.icon-you-tube-black-before:before
.icon-you-tube-black-after:after
	content ''

.icon-you-tube-black-before:before
.icon-you-tube-black-after:after
.icon-you-tube-black-inner
	vertical-align middle

	display inline-block
	width 38px
	height 17px

	background url(../i/sprite.png) no-repeat -602px -533px

.transition-icon-item.icon-you-tube-black-inner
	margin-left -(38px / 2)
	margin-top -(17px / 2)
.icon-you-tube-red-before:before
.icon-you-tube-red-after:after
	content ''

.icon-you-tube-red-before:before
.icon-you-tube-red-after:after
.icon-you-tube-red-inner
	vertical-align middle

	display inline-block
	width 38px
	height 17px

	background url(../i/sprite.png) no-repeat -544px -533px

.transition-icon-item.icon-you-tube-red-inner
	margin-left -(38px / 2)
	margin-top -(17px / 2)
.icon-you-tube-white-before:before
.icon-you-tube-white-after:after
	content ''

.icon-you-tube-white-before:before
.icon-you-tube-white-after:after
.icon-you-tube-white-inner
	vertical-align middle

	display inline-block
	width 38px
	height 18px

	background url(../i/sprite.png) no-repeat -370px -533px

.transition-icon-item.icon-you-tube-white-inner
	margin-left -(38px / 2)
	margin-top -(18px / 2)
.icon-youtube-black-before:before
.icon-youtube-black-after:after
	content ''

.icon-youtube-black-before:before
.icon-youtube-black-after:after
.icon-youtube-black-inner
	vertical-align middle

	display inline-block
	width 38px
	height 17px

	background url(../i/sprite.png) no-repeat -486px -533px

.transition-icon-item.icon-youtube-black-inner
	margin-left -(38px / 2)
	margin-top -(17px / 2)
.icon-youtube-circle-before:before
.icon-youtube-circle-after:after
	content ''

.icon-youtube-circle-before:before
.icon-youtube-circle-after:after
.icon-youtube-circle-inner
	vertical-align middle

	display inline-block
	width 55px
	height 55px

	background url(../i/sprite.png) no-repeat -532px -347px

.transition-icon-item.icon-youtube-circle-inner
	margin-left -(55px / 2)
	margin-top -(55px / 2)
.icon-youtube-red-before:before
.icon-youtube-red-after:after
	content ''

.icon-youtube-red-before:before
.icon-youtube-red-after:after
.icon-youtube-red-inner
	vertical-align middle

	display inline-block
	width 38px
	height 17px

	background url(../i/sprite.png) no-repeat -428px -533px

.transition-icon-item.icon-youtube-red-inner
	margin-left -(38px / 2)
	margin-top -(17px / 2)
.icon-youtube-white-before:before
.icon-youtube-white-after:after
	content ''

.icon-youtube-white-before:before
.icon-youtube-white-after:after
.icon-youtube-white-inner
	vertical-align middle

	display inline-block
	width 38px
	height 18px

	background url(../i/sprite.png) no-repeat -312px -533px

.transition-icon-item.icon-youtube-white-inner
	margin-left -(38px / 2)
	margin-top -(18px / 2)
